*{
	margin:0;
	padding:0;
}

#container{
	margin-left:auto;
	margin-right:auto;
	width:940px;
}

h1{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color:aqua;
	font-size:3em;
	text-align:center;
	margin: 10px 20px 10px 20px
}

.cloud{
	width:960px;
	background-color:gray;
}

.Earth{
	width:300px;
	height:400px;
	background-color:brown;
	display:inline-block;
	margin: 0 auto;
}